<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("./partials/header.ejs") %> 
</head>
<body>
    <%-include("./partials/nav.ejs") %> 
    <section>
        <h1>Yazilar</h1>
        <ul>
            <% blogs.forEach(blog => { %> 
                <br>
                    <a href="#"><%=blog.title%></a>
                    <p><%=blog.short%></p>
                    <p><%=blog.long%></p>
                    <time><%=blog.createdAt%> </time>
                    <time><%=blog.updatedAt%> </time>
                </li>
            <%  })%> 
        </ul>
    </section>
</body>
</html>