<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("./partials/header.ejs") %> 
</head>
<body>
    <%-include("./partials/nav.ejs") %> 
    <section>
        <h1>Yazilar</h1>
        <ul>
            <% blogs.map((el,i,arr) => { %> 
                <br>
                    <a href="/blog/<%=el._id%>"><%=el.title%></a>
                    <p><%=el.short%></p>
                    <p><%=el.long%></p>
                    <time><%=el.createdAt%> </time>
                    <time><%=el.updatedAt%> </time>
                </li>
            <%  })%> 
        </ul>
    </section>
</body>
</html>